{% extends 'base.html' %}

{% block title %}
Создать пост
{% endblock %}

{% block content %}
    <form class="form-group" enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="image" name="image">
                <label class="custom-file-label" for="image">Choose file</label>
            </div>
        </div>
        <div class="form-group">
            <label for="title">Заголовок</label>
            <input id="title" class="form-control" name="title" type="text">
        </div>
        <div class="form-group">
            <label for="text">Текст</label>
            <textarea id="text" class="form-control" name="text" placeholder="Введите текст"></textarea>
        </div>
        <div class="form-group">
            <label for="button">Кнопка</label>
            <div id="button" class="d-flex justify-content-around">
                <input id="buttonText" class="form-control mr-1" name="button_text" placeholder="Введите текст">
                <input id="buttonUrl" class="form-control ml-1" name="button_url" placeholder="Введите ссылку">
            </div>
        </div>
        <div class="form-group">
            <label for="date">Дата</label>
            <input id="date" class="form-control" name="date" type="date">
        </div>
        <div class="form-group">
            <label for="time">Время</label>
            <select id="time" class="custom-select" name="time">
                {% for time in TIME_CHOICES %}
                    <option value="{{ time.0 }}">{{ time.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="paid">Оплачено</label>
            <div id="paid">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="paid" id="paidTrue" value="True">
                    <label class="form-check-label" for="paidTrue">Да</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="paid" id="paidFalse" value="False">
                    <label class="form-check-label" for="paidFalse">Нет</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="status">Статус</label>
            <select id="status" class="custom-select" name="status">
                {% for status in STATUS_CHOICES %}
                    <option value="{{ status.0 }}">{{ status.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mt-4">
            <label for="statusMessage">Комментарий к посту</label>
            <textarea id="statusMessage" class="form-control" name="status_message" placeholder="Введите комментарий к посту"></textarea>
            <div class="mt-2">
                <input class="btn btn-primary" type="submit" value="Создать" name="accept">
            </div>
        </div>
    </form>
{% endblock %}